header.site-header, footer{
    display: none;
}

.site-header-wrapper.bg-general{
    display: none;
}

label{
    display: block;
    color: var(--textGris);
}

input{
    border-radius: 30px !important;
    background-color: var(--fondoCampos);
    width: 90%;
    margin-bottom: 1rem !important;
}

.container{
    height: 100% !important;
    max-width: 100% !important;
}

.seccion-color{
    background: #F5BA38;
}

.title-registro{
    width: 60%;
    font-size: 3rem;
    margin: 30px 0;
}

@media only screen and (max-width: 767px) {
    .title-registro {
        margin: 10px 0;
    }
}

.seccion-color p{
    width: 70%;
    margin-bottom: 5rem;
    font-size: 1.2rem;
}

body, .row, .container2{
    height: 100vh !important;
}

.contenedor-check{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 43%;
    /* margin-top: 2rem; */
}

.contenedor-check label {
    width: 60%;
}

.contenedor-check input{
    width: 10% !important;
    margin: 0!important;
    /* margin-bottom: 0 !important; */
}
.login .title-page-registro{
    margin-bottom: 10% !important;
}

.title-page-registro{
    color: var(--colorAzul);
    font-size: 3.4rem;
}

/*login*/
.page-login{
    display: flex;
    
}
 .login-present{
    background: var(--bgGeneral) !important;
    width: 50%;
 }
.login-form
{
width: 50%;
}

#togglePassword, #togglePassword2 {
    box-shadow: none !important;
}

@media only screen and (max-width: 767px) {
    body, .row, .container2{
        height: auto !important;
    }

    .g-recaptcha{
        margin-left: -8% !important;
    }

    .page-registro .d-flex.flex-column.align-items-center.pt-4 {
        padding-top: 0 !important;
    }

    .page-registro .d-flex.flex-column.align-items-center.pt-4 img{
        padding-top: 0 !important;
        width: 70% !important;
    }

}

/* login */

.login-remember {
    display: none;
}

.login-username label, .login-password label {
    display: none !important;
}

.login-submit input {
    color: var(--colorBoton) !important;
    border: 1px solid var(--colorBoton) !important;
    padding: .5rem 1rem;
    background: white !important;
    text-align: center;
    margin-top: 2rem;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 5px !important;
    width: 30%;
}

#loginform .login-submit .boton-publicar{
    height: 3rem;
}

#loginform .login-submit .boton-publicar, #loginform .login-submit #wp-submit{
    margin-top: 1rem !important;
}

.register {
    color: #4A148C !important;
    font-family: "PT Sans Caption";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-decoration-line: underline; */
    text-align: center;
}

.register a {
    color: #4A148C !important;
    text-decoration: underline;
}

.login-submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.login-submit button.boton-publicar {
  width: 28%;
}

#loginform {
    width: 60%;
    margin: auto;
}

#loginform .login-password input, #loginform .login-username input {
    width: 100% !important;
}

.error-login {
    text-align: center;
    color: red;
}

.pass-remeber {
    color: #4A148C;
    font-family: "PT Sans Caption";
    font-size: 18px;
    font-style: normal;
    margin-left: 3%;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15% !important;
    display: block;
}

.seccion-color img {
    width: 40%;
}

#loginform p input {
    padding: 15px;   
}

.reset-pass-btn {
    display: flex;
    justify-content: center;
}

.reset-pass-btn .boton-publicar {
    width: 25%;
}

#lost-password-form .input-remeber{
  display: flex;
  justify-content: center;
}

#lost-password-form .input-remeber input {
    width: 70%;
    padding: 15px;
}

.text-to-remeber {
    color: #000;
    font-family: "PT Sans Caption";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10% !important;
}

.login-remember-page{
    height: 60%;
    margin: 8rem 0;
}

.register.crear{
    font-size: 1rem;
    margin-top: 10px;
}

/* Crear cuenta */
#opciones-escritor {
    display: none;
}

#boton-cancelar{
    display: none;
}

#opciones-usuario {
    display: flex;
}

#boton-cancelar {
    height: 25%;
    width: 18%;
    /* margin-top: 0 !important; */
}

#opciones-usuario, #opciones-escritor {
    margin-top: -2% !important;
    flex-direction: column;
    align-items: center;
}

#opciones-usuario input{
    width: 60%;
    /* margin: 0 auto; */
    margin-bottom: -10px !important;
}

#opciones-escritor input{
    width: 60%;
    margin: 0 auto;
}

.col-md-6 .title-page-registro{
    margin-top: 8% !important;
}

.botones-acciones button, .botones-acciones a {
    margin: 5% 10%;
}

.botones-acciones {
    align-items: center;
}

.title-page-registro.text-center.my-5{
    margin-top:16% !important;
    margin-bottom: 0 !important;
}

.login .title-page-registro.text-center.my-5{
    margin-top:18% !important;
    margin-bottom: 4rem !important;
}

.registro .title-page-registro.text-center.my-5 {
    margin-top: 11% !important;
    margin-bottom: 2.5rem !important;
}

.mensaje-pass {
    margin-top: 10px !important;
}

.iratras-registro{
    color: var(--colorAzul);
    /* text-align: center; */
    font-family: "PT Sans Caption";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 55%;
    margin-bottom: 10px;
}

.iratras-registro:hover{
    cursor: pointer;
}

#opciones-usuario input#contrasena {
    margin-bottom: -4px !important;
}

.password-input button img {
    margin-top: -4px;
}

button.boton-publicar.btninv, .login-submit input[type="submit"] {
    width: 100px !important;
    height: 2.5rem !important;
    padding: 10px !important;
}