  .sidebar {
    position: fixed;
    width: 20%;
    height: 100vh;
    background: var(--colorSecundario);
    font-size: 0.65em;
}
  
  .sidebar .nav {
    position: relative;
    margin: 0 5%;
    text-align: start;
    top: 40%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .menu-menu-principal-container{
    width: 100%;
  }

  .menu-menu-principal-container ul{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .sidebar .nav ul {
    list-style: none;
  }
  
  .sidebar .nav ul li {
    position: relative;
    padding: 1.2em 0;
    margin-bottom: 10px;
  }
  
  .sidebar .nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--colorAzul);
    display: block;
    transition: all ease-out 300ms;
  }
  
  .sidebar .nav ul li::before{
    margin: .8rem 2rem;
  }

  .sidebar .nav ul li:not(.active)::after {
    opacity: 0.2;
  }
  
  .sidebar .nav ul li { 
    position: relative;
  }

  .sidebar .nav ul li::before { 
    margin-left: 2rem;
  }

  .sidebar .nav .current-menu-item {
    background-color: var(--colorBoton);
    border-radius: 5px;
  }

  .sidebar .nav .current-menu-item a{
    color: #fff;
  }

  .sidebar .nav li:hover {
    background-color: var(--colorBoton);
    border-radius: 5px;
  }

  .sidebar .nav li:hover a{
    color: #fff;
  }

  .sidebar .nav ul li a{
    margin-left: 5rem;
    width: 85%;
  }

  aside.sidebar .menu-menu-principal-container{
    width: 80% !important;
    margin: auto;
    height: 70%;
    margin-top: 80%;
  }

  .sidebar .nav ul li:nth-child(1):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/inicio.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(2):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/publicar.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(3):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/guardar.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(4):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/perfil.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(5):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/configuracion.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(6):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/avisolegal.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li:nth-child(7):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../svg/contact.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* elementos activos */
  .sidebar .nav ul li.current_page_item:nth-child(1):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -4px;
    left: 0;
    background: url('../svg/home-white.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(2):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -4px;
    left: 0;
    background: url('../svg/publicar-white.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(3):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/guardados-white.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(4):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/perfil-white.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(5):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/confi-white.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(6):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/aviso-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sidebar .nav ul li.current_page_item:nth-child(7):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/contacto-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* efecto hover */

  .sidebar .nav ul li:hover:nth-child(1):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/home-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(2):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/publicar-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(3):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/guardados-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(4):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/perfil-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(5):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/confi-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(6):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/aviso-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  .sidebar .nav ul li:hover:nth-child(7):before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background: url('../svg/contacto-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }