table.compras {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #BA68C8;

  }
  
 h2{
  text-align: center;
  color:#BA68C8;

 }
 table.compras th{
    background-color: #BA68C8;
  }

  table.compras th,
  td {
    padding: 20px;
  }
  table.compras tr{
    border-bottom: 1px solid #BA68C8;
  }