.wc-block-cart__submit-container a, .wc-block-components-totals-coupon__button{
	background: white !important;
	color: var(--colorBoton) !important;
    border: 1px solid var(--colorBoton) !important;
    padding: .5rem 1rem;
    background: white !important;
    text-align: center;
    margin-top: 2rem;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 5px !important;
	color: #000 !important;
}

.wc-block-cart-items__row .wc-block-formatted-money-amount{
	font-weight: bold;
	font-size: 24px;
}

.wc-block-cart-item__prices .wc-block-components-product-price__value, .wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title, tr.wc-block-cart-items__header{
	display: none !important;
}

.wc-block-components-sidebar{
	border: 2px solid #F0EDEB;
	padding:0 10px;
	border-radius: 10px
}

.wc-block-components-sidebar span{
	color: #A7A9AC;
}

.wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__input {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

button.wc-block-components-totals-coupon__button{
	margin: 0;
}

body.woocommerce-cart{
	background: #fff !important
}

.wp-block-woocommerce-cart-items-block{
	max-height:400px;
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 0 10px;
}


/** checkout **/
