/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/


@media only screen and (max-width: 767px) {
    .pagina-mensajes{
        height: auto;
        margin:2rem 0;
    }

    .buddyx-mobile-icon .user-link-wrap .user-link, .buddyx-mobile-icon .user-notifications>.bp-icon-wrap {
        pointer-events: initial !important;
    }

    .user_notification .d-flex {
        flex-direction: column;
    }

    .user_notification .mx-2 {
        display: none;
    }

    .notification_actions .follow-button.boton-publicar, .notification_actions span.son_amigos {
        margin-left: 15px !important;
        margin-top: 5px !important;
    }

    .user_notification img.avatar{
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
    }

    .single-product .contenedor-usuarios{
        margin-left: -50vw !important;
        border-top-left-radius: 0px !important;
    }

    .page-id-361 main.site-main#primary{
        height: auto !important;
    }

    .contenido-das {
        height: auto !important;
    }

    #formulario-registro {
        margin: 20px auto;
    }

    .contenedor-usuarios form {
        margin: 0;
    }

    #formulario-registro input, #formulario-registro .password-input{
        width: 100% !important;
    }

    #formulario-registro .botones-acciones button, #formulario-registro .botones-acciones a{
        font-size: 10px;
    }

    .date-comment {
        display: inline-block;
        width: 80px;
    }

    .imagen-libro .carousel-producto{
        height: 400px !important;
    }

    .contenedor-usuarios .usuario {
        width: 12%;
    }

    .contenedor-usuarios .usuario a img{
        width: 2.5rem;
        height: 2.5rem;
    }

    .single-product #secondary {
        display: none !important;
    }

    .single-product .site-wrapper-dos{
        margin-left: 2% !important;
    }

    .single-product .row #seccion-grande{
        order: -1;
    }

    #menu-toggle{
        box-shadow: none !important;
    }

    .single-product .site-main {
        /* width: 155% !important; */
    }

    .carousel-producto {
        margin: 1rem 0;
    }

    .contenedor-libro {
        flex-direction: column;
    }

    .contenedor-libro .imagen-libro, .contenedor-libro .contenido-libro{
        width: 100% !important;
    }

    .single-product #seccion-pequena{
        border-left: none !important;
    }

    .user_notification .avatar{
        /* display: none; */
    }

    .user_notification div a {
        width: 60px !important;
        height: 60px !important;
    }

    .user_notification div:first-child {
        width: 20%;
    }

    .bp-dropdown-inner{
        width: 90%;
    }

    .bp-dropdown-inner .notifications-item{
        border-bottom: 1px solid #A7A9AC;
        padding-bottom: 10px;
    }

    .bp-dropdown-inner .notifications-item:last-child{
        border-bottom: none;
        padding-bottom: 10px;
    }

    .user_notification p{
        font-size: 12px;
    }

    .bp-dropdown-inner .notifications-item .notification_actions, .notification_action{
        width: 100%;
        justify-content: start;
        margin-left: 8px;
    }

    .notification_action img {
        margin-top: 10px;
    }

    .elusuario{
        font-weight: bold;
        color: #000;
    }

    .bp-dropdown-inner .notifications-item div.components {
        flex-direction: column;
    }

    .user_notification div:last-child {
        width: 100% !important;
    }

    .extract-large{
        display: none;
    }

    .wpcf7-form{
        height:100vh !important;
    }

    .input-name-email{
        display:flex;
        flex-direction: column;
    }

    .wpcf7-textarea{
        width: 100% !important;
        resize: none;
    }

    .input-name-email p{
        width: 30% !important;
    }

    .wpcf7-form-control-wrap{
        width: 90%;
    }
    
    .input-name-email{
        width: 90% !important;
    }

    body.bp-user header .site-branding img{
        margin-top: 0px !important;
        width: 10rem !important;
        height: 70px !important;
        max-height: 70px !important;
    }

    body header .site-branding img{
        margin-top: 0px !important;
        width: 10rem !important;
        height: 70px !important;
        max-height: 70px !important;
    }

    .site-header-wrapper.bg-general .site-header {
        padding-bottom: 0px !important;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
    }

    .libros-home .col-md-6 .libro {
        /* height: 200% !important; */
        /* margin-bottom: 150% !important; */
    }

    .libros-home .col-md-6 .libro{
        height: auto !important;
    }

    .contenido-libro {
        margin-top: 1rem !important;
    }

    .contenedor-libro.d-flex .imagen-libro img{
        object-fit: cover;
        object-position: center;
    }

    .home .libros-home .col-md-6{
        height: auto!important;
    }

    .libros-home .col-md-6 {
        margin-bottom: 2rem !important;
    }

    .nav.nav-pills.tabs .dd-menu li{
        width: 100%;
    }

    .acciones .cart a, .acciones a.boton{
        margin-top: 0px !important;
        padding: 10px;
        height: 35px !important;
    }

    .ml-2 svg {
        height: 12px !important;
    }

    .filtros .dd-menu{
        margin-left: -90px;
    }

    .nav.nav-pills.tabs {
        flex-wrap: wrap;
    }

    .home .nav.nav-pills.tabs{
        overflow-y: initial !important;
    }

    #btn-filter{
        font-size: 12px !important;
    }

    .nav.nav-pills.tabs li {
        width: 33.3%;
    }

    .acciones button.boton {
        margin-top: 0px !important;
        font-size: 0.9rem !important;
        height: 35px !important;
    }

    .acciones {
        align-items: center;
    }

    .acciones .entre {
        display: none;
    }

    body.bp-user .item-header-cover-image-wrapper{
        width: 100% !important;
        margin-left: 0 !important;
    }

    #item-header-cover-image {
        display: flex;
        flex-direction: column;
    }

    #item-header-avatar {
        border: none !important;
    }

    body.bp-user #buddypress #item-header-cover-image #item-header-avatar img.avatar {
        margin: 0 !important;
        padding: 4px !important;
        border: 2px solid var(--colorAzul) !important;
    }

    body.bp-user .item-meta {
        width: 100%;
    }

    body.bp-user .member-header-actions-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }

    body.bp-user .avatar-wrap{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .datosDelUsuario {
        padding: 0;
        text-align: center;
    }

    .post-perfil{
        flex-direction: column;
    }

    .post-perfil .single-post-perfil {
        width: 90%;
        margin: auto;
    }

    #item-header-content{
        flex-direction: column;
    }

    .extract-medium{
        display: block;
    }

     .seccion-color p {
        display: none;
        
    }
    .seccion-color h4{
        font-size: 1rem;
        width: 100%;
    }
    .seccion-color img{
        margin-top: -3% !important;
    }

    .seccion-color{
        padding-bottom: 3rem;
    }

    #formulario-registro .botones-acciones button, #formulario-registro .botones-acciones a{
        width: 45% !important;
    }

    #formulario-registro {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .alert-finish-session .d-flex.justify-content-between{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .alert-finish-session {
        width: 90% !important;
    }

    .display-name {
        display: none !important;
    }

    .cuerpo-perfil .amigos {
        flex-direction: column;
    }

    .producto-configuracion .d-flex.imagen, .producto-configuracion.pagos .d-flex {
        flex-direction: column;
    }

    .producto-lista{
        max-height: 500px !important;
    }

    #change-password-form .d-flex{
        justify-content: center;
    }

    #change-password-form .d-flex .boton-publicar {
        margin: 0 10px;
    }

    .segundo-dato, .primer-dato, .tercer-dato {
        align-items: center;
    }

    .segundo-dato p, .primer-dato p, .tercer-dato p {
        margin: 0 !important;
    }

    .col-md-6.registro .title-page-registro.text-center.my-5{
        margin-top: 30px !important;
    }

    .seccion-color img {
        width: 70% !important;
        margin-bottom: -20px;
    }

    .datosDelUsuario{
        margin-top: 2rem;
    }

    .home .contenedor-usuarios.d-flex.container-horizontal-scroll .usuario{
        margin-left: 40px !important;
    }

    .elemento-imagen-perfil a{
        margin: 0 !important;
    }

    #page.site .container2 .container .row .col-md-6.login.login-remember-page h2.title-page-registro.text-center.my-5 {
        margin-top: -20% !important;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .seccion-color{
        height: 12.5rem;
    }

    .col-md-6.login .title-page-registro.text-center.my-5{
        margin-top:0% !important;
        font-size: 2rem;
        margin-bottom: 20px !important;
    }

    .pass-remeber{
        font-size: 12px !important;
        text-align: center;
    }

    p.login-submit{
        margin-top: -20px;
    }

    #loginform .login-submit .boton-publicar, #loginform .login-submit #wp-submit {
        width: 40% !important;
    }

    .text-to-remeber{
        font-size: 14px !important;
    }

    p.register {
        font-size: 16px !important;
    }

    .login-username input, .login-password input {
        padding: 10px !important;
        width: 80% !important;
    }

    .col-md-6.registro .title-page-registro.text-center.my-5 {
        margin-top: 0% !important;
        font-size: 2rem !important;
        margin-bottom: 0 !important;
    }

    .registro .botones-acciones a {
        margin: 0;
    }

    .col-md-6.seccion-color.seccion-responsive img{
        margin-top: -23% !important;
    }

    .mensaje-pass {
        width: 80%;
        margin-bottom: -10px;
        margin-top: 0px;
    }

    .mensaje-pass span{
        font-size: 10px;
    }

    /* estilos al home movil */
    .menu-lateral, .buscador-buddypress, header #searchform, h3.menu-title {
        display: none !important;
    }

    #primary.site-main{
        width: 100% !important;
    }

    .contenedor-usuarios {
        left: 50%;
    }

    .mobile-menu-heading {
        background: #F5BA38 !important;
    }

    .buddyx-mobile-user, #primary-menu, .primary-menu-container.buddyx-mobile-menu{
        background: #FFFDE7 !important;
    }

    header .site-branding img {
        width: 8rem !important;
        height: 45px !important;
        margin-top: -60px !important;
    }

    .home .nav.nav-pills.tabs {
        flex-direction: row;
        /* width: 100%; */
        margin: 0;

        overflow-y: scroll;
        *white-space: nowrap;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    
    /* .nav.nav-pills.tabs::-webkit-scrollbar {
        width: 0; 
        height: 0;
    } */

    .home .nav.nav-pills.tabs li:nth-child(4) {
        margin-top: 20px;
    }

    .modal.fade.show {
        width: 500px !important;
    }

    /* .home .modal-content {
        width: 20% !important;
    } */

    .home .modal-dialog.modal-dialog-centered {
        width: 20rem !important;
        height: 20rem !important;
        margin: 0 30px !important;
    }

    .home .carousel-inner .carousel-item img.wp-post-image {
        height: 20rem !important;
    }

    .historia-vista img.usuario-avatar {
        width: 45px !important;
        height: 40px !important;
        object-fit: cover!important;
    }

    .home .historia-vista .d-flex.flex-column.justify-content-center {
        width: 70% !important;
    }

    .home form .comments-history{
        height: 3rem !important;
        width: 100%;
    }

    .description-history button {
        font-size: 10px !important;
        width: 35% !important;
    }

    .home form .comments-history textarea {
        font-size: 10px !important;
        min-height: 47px !important;
    }

    .home .contenedor-usuarios form {
        width: 100%;
        padding: 0 5px;
        font-size: 12px !important;
    }

    .home .contenedor-usuarios form .ml-2 img {
        /* display: none; */
    }

    .home form .comments-history textarea {
        max-height: 1rem;
        resize: none;
    }

    /* libro */


    .libro h2{
        font-size: 16px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .libro span.nombre {
        font-size: 12px !important;
    }



    .libro .precio {
        font-size: 15px !important;
    }

    .nav.nav-pills.tabs li a{
        font-size: 12px !important;
    }

    /* pagina publicar */
    .pag-publicar .nav.nav-pills.tabs {
        margin: 0;
    }

    .pag-publicar .nav.nav-pills.tabs li {
        width: 45% !important;
    }

    .page-id-67 .container {
        height: 100% !important;
    }

    .page-id-67 main#primary {
        height: 100% !important;
    }

    .pag-publicar .form__container {
        position: relative;
        width: 88% !important;
        margin: auto;
        height: 19rem;
    }

    .pag-publicar .col-md-6.campos-historias {
        margin: auto;
    }

    .pag-publicar .step {
        margin-bottom: 20px;
    }

    .pag-publicar #paso2-1, #paso3 {
        width: 100%;
    }

    #paso3 {
        flex-direction: column;
    }
  }
  

@media only screen and (min-width: 768px) {
    /* Estilos para laptops */
    .libro-altura{
        margin-top: 2rem !important;
        height: 50vh !important;
    }


    aside.sidebar .menu-menu-principal-container{
        margin-top: 80% !important;
    }

    form.formulario-crear-publicacion textarea {
        border-radius: 30px !important;
        /* max-height: 350px; */
        height: 20.5rem;
        /* margin-top: 1rem!important; */
    }

    #paso2-1 .col-md-5 .input-group {
        margin-bottom: 2.9rem !important;
    }


    #menu-menu-principal {
        margin-top: -30% !important;
    }

    /* .title-registro {
        font-size: 1.8rem !important;
    } */

    .sidebar .nav ul li a{
        margin-left: 4rem !important;
        width: 90% !important;
    }

    .site-header-wrapper.bg-general {
        height: 5rem !important;
    }

    .site-branding img {
        width: 13rem !important;
		margin-left: -20px;
        max-height: 75px !important;
    }

    .contenedor-libro.d-flex{
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .extract-medium{
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        font-size: 15px;
        /* background-color: red; */
    }

    .home .acciones {
        padding-top: 5% !important;
    }

    .nav.nav-pills.tabs li a, .nav.nav-pills.tabs li label span{
        font-size: .9rem !important;
    }

    .acciones a.boton {
        height: 10% !important;
    }

    .contenido-libro .autor {
        margin-top: 0 !important;
    }

    .libro .titulo-libro {
        margin-top: 0;
        font-size: 17px !important;
        /* font-weight: bold; */
    }

    .libro .contenido-libro {
        width: 65%;
    }

    .boton {
        font-size: .8rem !important;
    }

    .libro-altura-nologin{
        margin-top: 2rem !important;
        height: 65vh !important;
    }

    form.formulario-historia .form__container{
        height: 21rem !important;
    }

    form.formulario-historia .campos-historias .input-group textarea{
        height: 20rem;
    }

    .title-registro{
        width: 77% !important;
        font-size: 1.8rem !important;
        margin: 10px 0 !important;
    }

    .botones-acciones button, .botones-acciones a {
        margin: 2% 10% !important;
    }

    .page .login .title-page-registro.text-center.my-5{
        margin-top: 2% !important;
    }

    .page .login .title-page-registro.text-center.my-5.login-t{
        margin-top: 17%!important;
    }

    .page .registro .title-page-registro.text-center.my-5{
        margin-top: 8% !important;
        
    }

    .mensaje-pass span {
        font-size: 12px;
    }

    .password-input {
        margin-bottom: 10px !important;
    }

    .page .login .title-page-registro.text-center.my-5 {
        margin-bottom: 2rem !important;
    }

    .page #loginform p input{
        padding: 10px !important;
    }

    .seccion-color img {
        width: 85% !important;
        margin-bottom: -8%;
        margin-top: -10%;
    }

    .login-password .pass-remeber {
        margin-bottom: 7% !important;
    }

    .title-page-registro{
        font-size: 2.7rem !important;
        margin-bottom: 6%;
        margin-top: 12% !important;
    }

    .col-md-6.login .title-page-registro {
        margin-bottom: 3% !important;
    }

    .login .login-submit {
        margin-top: -5%;
    }

    .login .pass-remeber {
        font-size: 16px !important;
    }

    .login .login-submit{
        height: 2.8rem !important;
    }

    

    .login .login-submit, .login .login-submit input[type="submit"] {
        padding: 0.5rem 2rem !important;
        height: 2.5rem !important;
    }

    .login .register {
        margin-top: 8%;
        font-size: 1rem;
    }

    .page .registro .title-page-registro.text-center.my-5{
        margin-bottom: 2rem !important;
    }
/* 
    .col-md-12 p.register.crear {
        margin-top: -20px !important;
        background-color: red !important;
    } */

    .col-md-6.registro .title-page-registro {
        margin-top: 13% !important;
    }

    .col-md-6.login.login-remember-page .text-to-remeber {
        margin-bottom: 20px !important;
    }
    .extract-large {
        display: none;
    }
}

/* Monitores Grandes */
@media only screen and (min-width: 1524px) {
    .container {
        width: 100%;
        max-width: 1470px !important;
    }

    form.formulario-historia .form__container{
        height: 26rem !important;
    }

    form.formulario-historia .campos-historias .input-group textarea{
        height: 25rem;
    }

    
}

@media (max-width: 1024px)  {
    .libro .boton {
        /* background-color: red !important; */
        font-size: .9rem !important;
        margin-top: 1rem !important;
        display: flex;
        align-items: center;
    }

}


@media (min-width: 1800px) {
    /* Inicio */
    h2.titulo-libro{
       font-size: 30px !important;
       margin-bottom: 2% !important;
       margin-top: -2% !important;
    }

    .extract-large {
        display: block;
        font-size: 16px !important;
    }

    .extract-medium{
        display: none;
    }

    .libros-home.row.px-4{
        margin-left: -2%;
        margin-right: -2%;
    }

    .libro .autor .imagen-autor img {
        width: 52px;
        height: 52px;
    }

    .acciones-libros i {
        font-size: 28px !important;
    }

    .libro .precio {
        font-size: 30px !important;
    }

    .glsr {
        --glsr-form-star: 18px;
        --glsr-summary-star: 18px;
        --glsr-review-star: 18px;
    }

    .glsr-star-rating {
        margin: 12% 0 !important;
    }

    .cotador-megusta {
        font-size: 16px !important;
    }

    .menu-lateral li {
        margin-bottom: 14% !important;
    }

    .menu-lateral li a{
        font-size: 20px !important;
    }

    .sidebar .nav ul li.current_page_item:nth-child(1):before, .sidebar .nav ul li.current_page_item:nth-child(2):before, .sidebar .nav ul li.current_page_item:nth-child(3):before,.sidebar .nav ul li.current_page_item:nth-child(4):before, .sidebar .nav ul li.current_page_item:nth-child(5):before, .sidebar .nav ul li.current_page_item:nth-child(6):before, .sidebar .nav ul li.current_page_item:nth-child(7):before {
        width: 20px !important;
        height: 20px !important;
    }

    .sidebar .nav ul li:nth-child(1):before, .sidebar .nav ul li:nth-child(2):before, .sidebar .nav ul li:nth-child(3):before,.sidebar .nav ul li:nth-child(4):before, .sidebar .nav ul li:nth-child(5):before, .sidebar .nav ul li:nth-child(6):before, .sidebar .nav ul li:nth-child(7):before {
        width: 20px !important;
        height: 20px !important;
    }

    .libro .boton {
        font-size: 1.2rem !important;
    }

    .libro h2.titulo-libro {
        margin-top: 10px !important;
        font-size: 30px !important;
    }

    .home .acciones {
        padding-top: 1rem !important;
    }

    .contenido-libro .autor {
        margin-top: 3% !important;
    }

    .nav.nav-pills.tabs li a, .nav.nav-pills.tabs li label span{
        font-size: 1.3rem !important;
    }

    .page .sidebar .nav ul li a{
        margin-left: 5rem !important;
        width: 85% !important;
    }

    .site-header-wrapper.bg-general {
        height: 6rem !important;
    }

    .site-branding img {
        width: 12rem !important;
        max-height: 90px !important;
    }

    .contenedor-libro.d-flex{
        padding-bottom: 3% !important;
        padding-top: 3% !important;
    }

    #menu-menu-principal {
        margin-top: -18% !important;
    }

    .title-registro{
        width: 77% !important;
        font-size: 2.8rem !important;
    }

   

    .page .login .title-page-registro.text-center.my-5 {
        margin-bottom: 4rem !important;
    }

    .page #loginform p input{
        padding: 15px !important;
    }

    .password-input {
        margin-bottom: 15px !important;
    }

    .login-password .pass-remeber {
        margin-bottom: 10% !important;
    }

    .login .register {
        margin-top: 17%;
        font-size: 1.2rem;
    }

    .page .registro .title-page-registro.text-center.my-5{
        margin-bottom: 2.5rem !important;
    }

    .mensaje-pass span {
        font-size: 14px;
    }

    .page .registro .title-page-registro.text-center.my-5{
        margin-top: 16% !important;
    }

    .botones-acciones button, .botones-acciones a {
        margin: 5% 10% !important;
    }

    .page .login .title-page-registro.text-center.my-5{
        margin-top: 20% !important;
    }

    form.formulario-crear-publicacion textarea {
        border-radius: 30px !important;
        /* max-height: 350px; */
        height: 28rem;
        margin-top: 1rem!important;
    }

    #paso2-1 .col-md-5 .input-group {
        margin-bottom: 4.6rem !important;
    }

    aside.sidebar .menu-menu-principal-container{
        margin-top: 80% !important;
    }
}
